/* header start */
#header .flex {
    justify-content: space-between;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

#header .container {
    padding: 0 2rem;
}

#header nav {
    height: 100%;
    overflow: hidden;
}

#header li a img {
    width: 12rem;
    background-color: transparent;
}
/* header start */


/* section-a start */
#sctn-a {
    position: relative;
    overflow: hidden;
    height: 72vh;

}

.sctn-a-ctr {
    width: 100%;
    height: 100%;
}

.bg-img {
    position: relative;
    width: 100vw;
    height: 100%;
    background-image: url(images/NG-en-20240715-POP_SIGNUP_TWO_WEEKS-perspective_WEB_f1be5089-bf3d-489d-9b46-2602fabe9c70_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.sctn-a-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    padding: 12rem 0;
    min-width: 960px;
}

.sctn-a-header {
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;
}

.sctn-a-ctr h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.sctn-a-ctr p {
    text-align: center;
    line-height: 4;
    font-size: 23px;
}

form { 
    height: 3.5rem;
    width: 100%;
    margin-inline: auto;
    text-align: center;
}

form input {
    height: 100%;
    width: 30rem;
    margin-right: 4px;
    margin-left: 2rem;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

form input:focus {
    outline: 2px solid var(--white-color);
    border-radius: 4px;
}

form a {
    font-size: 24px;
}

form .btn {
    margin-top: 3rem;
    padding: 15px 25px;
    vertical-align: -3px;
}

/* section-a end */


/* section-b start */
#sctn-b {
    overflow: hidden;
    height: 67vh;
}

#sctn-b .container {
    border: 1px solid green;
 
}

.sctn-b-txt  {
    border: 1px solid red;
    width: 45vw;
}

.sctn-b-txt  h2,
.sctn-c-txt  h2,
.sctn-e-txt  h2{
    font-size: 45px;
    width: 31rem;
    line-height: 1.3;
    padding: 1.3rem 0;
}
.sctn-b-txt  p,
.sctn-c-txt  p,
.sctn-e-txt  p {
    font-size: 24px;
    line-height: 1.3;
}

.sctn-b-img img {
    width: 35rem;
    border: 1px solid red;
} 

.sctn-b-img  {
    position: relative;
    width: min-content;
}

.sctn-b-img video {
    position: absolute;
    top: 21.5%;
    left: 13%;
    width: 25rem;
}
/* section-b end */


/* section-c start */
#sctn-c,
#sctn-e {
    overflow: hidden;
    height: 62vh;
}

.sctn-c-img {
    position: relative;
}

.sctn-c-img video {
    position: absolute;
    top: 73%;
    left: 23%;
    width: 21rem;
    border: 2px solid var(--gray-color);
    border-radius: 10px;
}
/* section-c end */


/* section-d start */
#sctn-d  {
    overflow: hidden;
    height: 40vh;
}

.sctn-d-ctn {
    max-width: 800px;
    margin-inline: auto;
    height: 100%;
}

.sctn-d-ctn h2 {
    font-size: 45px;
    width: 10rem;
    line-height: 1.3;
    padding: 4rem 0 1.3rem 0;
}

.sctn-d-ctn p {
    font-size: 24px;
    width: 24rem;
    line-height: 1.3;
}
/* section-d end */


/* section-f start */
#sctn-f {
    overflow: hidden;
    height: 95vh;
}

#sctn-f .container {
    padding: 4rem 0;
}

#sctn-f .container h2 {
    font-size: 45px;
    line-height: 2;
}

#sctn-f .container ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grayhover-color);
    height: 5rem;
    font-size: 24px;
    padding: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

#sctn-f .container ul li:hover {
    background-color: var(--gray-color);
}

#sctn-f .container ul li p {
    font-size: 45px;
    font-weight: 300;
    margin: 0;
}

#sctn-f .container p {
    margin: 3rem 0 1rem 0;
    font-size: 23px;
}
/* section-f end */

/* footer start */
#footer {
    overflow: hidden;
    height: 40vh;
}

#footer .container {
    padding: 4rem 0;
}

#footer .footer-flex {
    justify-content: space-between;
}

#footer .container .flex {

    flex-direction: column;
    align-items: start;
}

#footer a:not(:nth-child(6)):not(:nth-child(7)) {
    font-size: 14px;
    line-height: 2.3;
    text-decoration: underline;
}

#footer .f1 a:nth-child(6) {
    font-size: 16px;
    border: 1px solid var(--gray-color);
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: var(--dark-color);
}
/* footer end */

/* media query */
@media (max-width: 600px) {
    .sctn-a-text {
        min-width: 80vw;
    }

    form input {
        height: 100%;
        width: 80%;
        margin-bottom: 2rem;
        margin-right: 4px;
        margin-left: 2rem;
        padding: 15px 10px;
        font-size: 16px;
        border: 1px solid var(--gray-color);
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.3);
    }


    .sctn-a-header {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 1.5;
  
    }

    .sctn-a-ctr p {
        text-align: center;
        line-height: 1.5;
        padding: 1rem 0;
        font-size: 18px;
    }

}

@media (max-width: 960px) {
    /* haeder */
    #header li a img {
        width: 8rem;
        background-color: transparent;
    }

    /* sctn-a */
    .sctn-a-text {

        padding: 12rem 0;
        min-width: 590px;
    }

    .sctn-a-header {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 2;
        text-align: center;
    }

    .sctn-a-ctr h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
    
    .sctn-a-ctr p {
        text-align: center;
        line-height: 4;
        font-size: 18px;
    }
    
    form { 
        height: 3.2rem;
        width: 100%;
        margin-inline: auto;
        text-align: center;
    }

    form input {
        height: 100%;
        width: 50%;
        margin-right: 4px;
        margin-left: 2rem;
        padding: 15px 10px;
        font-size: 16px;
        border: 1px solid var(--gray-color);
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    form input:focus {
        outline: 2px solid var(--white-color);
        border-radius: 4px;
    }
    
    form a {
        font-size: 22px;
    }
    
    form .btn {
        margin-top: 3rem;
        padding: 10px 20px;
        vertical-align: -3px;
    }

    /* section-b */
    #sctn-b {
        height: 80vh;
    }

    .sctn-b-txt  {
        border: 1px solid red;
        width: 100%;
    }

    .sctn-b-txt  h2,
    .sctn-c-txt  h2,
    .sctn-e-txt  h2{
        font-size: 30px;
        width: 100%;
        line-height: 1.3;
        padding: 1.3rem 0;
        text-align: center;
    }

    .sctn-b-txt  p,
    .sctn-c-txt  p,
    .sctn-e-txt  p {
        font-size: 18px;
        line-height: 1.3;
        text-align: center;
    }

    .sctn-b-img,
     .sctn-b-txt {
        justify-self: center;
    }

}

@media (min-width: 961px) and (max-width: 1200px) {
    /* #sctn-b .container {
        width: 90vw;
    } */


    .sctn-b-txt {
        font-size: 30px;
        width: 38vw;
        line-height: 1.3;
        padding: 1.3rem 0;
        text-align: left;
    }


}